<div class="container">
<h1><%= @category.title %></h1>
<%= form_for [@category, @story_stream] do |form| %>

<% if @story_stream.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

    <ul>
    <% @category.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form.label :content %>
<%= form.text_field :content %>

<%= form.submit "Save" %>
<% end %>
</div>
